@import './base/rwd';
@import './base/var';
.about_us{
    width: 90%;
    margin: 0 auto;
    // max-width: 576px;
    // @include m(){
    //     max-width: 960px;
    // }
    h1{
        font-size: 30px;
        width: 90%;
        margin: 50px auto;
        color: #276678;
        font-weight: 700;
        @include m(){
            margin: 30px auto 70px;
        }
    }
    .float_card{
        width: 90%;
        margin: auto;
        margin-bottom: 100px;
        @include m(){
            display: flex;
            align-items: center;  
        }
        .pic{
            width: 80%;
            @include m(){
                width: 55%;
            }
            margin: 0 auto;
            img{
                width: 100%;
            }
        }
        .txt{
            width: 100%;
            margin: -20px auto;
            background-color: #D3E0EA;
            padding: 40px 50px 30px;
            box-sizing: border-box;
            position: relative;
            z-index: 1;
            @include m(){
                width: 55%;
            }
            h2{
                color: #1687A7;
                font-weight: 600;
                font-size: 40px;
                position: absolute;
            }
            p{
                color: black;
                line-height: 1.3em;
            }
        }
        &:nth-child(odd){
            h2{
                top: -20px;
                left: -20px;
            }
        }
        &:nth-child(even){
            h2{
                top: 210px;
                right: -20px;
                @include m(){
                    top: -20px;
                    right: -20px;
                }
            }
        }
    }
    @include m(){
        .float_card > :first-child{
            margin-right: -10%;
        }
    }
}
.contact_us{
    width: 80%;
    border: 2px solid #D3E0EA;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px rgb(206, 206, 206);
    margin: 0 auto 80px;
    .post_card{
        width: 85%;
        margin: 0 auto;
        h1{
            font-size: 22px;
            text-align: center;
            margin: 0 auto 40px;
        }
        .content{
            width: 100%;
            @include m(){
                display: flex;
            }
            form{
                @include m(){
                    width: 50%;
                    padding: 10px;
                    box-sizing: border-box;
                }
                .input_group{
                    input{
                        width: 95%;
                        @include m(){
                            width: 80%;
                        }
                        margin-bottom: 10px;
                        border: none;
                        border-radius: 20px;
                        background-color: #D3E0EA;
                        padding: 8px;
                    }
                    textarea{
                        width: 95%;
                        @include m(){
                            width: 80%;
                        }
                        height: 100px;
                        border: none;
                        border-radius: 8px;
                        background-color: #D3E0EA;
                        resize: none;
                        margin-bottom: 20px;
                    }
                }
                @include btn(submit,60px,$m-size-5,#276678){
                    margin-top: 0px;
                    margin-bottom: 20px;
                }
            }
            .info_area{
                width: 100%;
                @include m(){
                    width: 50%;
                    padding: 10px;
                    box-sizing: border-box;
                }
                .address,
                .tel,
                .email{
                    display: flex;
                    margin-bottom: 20px;
                    img{
                        width: 18px;
                        height: 18px;
                        margin:0px 5px;
                    }
                }
                .map{
                    width: 100%;
                    img{
                        width: 100%;
                        border-radius: 8px;
                    }
                }
            }
        }
    }
}