#course section {
	margin: 5rem 0;
}
#course .explore {
	.container {
		@include container-sm();
	}

	@include st() {
		.container {
			@include container-md();
		}
	}

	@include dt() {
		.container {
			@include container-lg();
		}
	}

	.title {
		h1 {
			font-size: $d-size-1;
			padding: 16px 0;
			color: $darkgreen;
			font-weight: bold;
		}
	}

	.tag-group {
		padding: 16px 0;
		.tag {
			border: none;
			color: white;
			padding: 12px 16px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 16px;
			margin: 4px 2px;
			cursor: pointer;
			border-radius: 20px;
			background-color: $darkgreen;
		}
	}

	.searchbar {
		form {
			text-align: left;
			input {
				color: #fff;
				background-color: rgba(53, 122, 143, 0.5);
				border: none;
				border-radius: 30px;
				width: 50%;
				min-width: 350px;
				padding: 20px;
				font-size: 1rem;
			}
		}
	}
}

#course hr {
	width: 80%;
	text-align: center;
	background-color: $darkblue;
	height: 2px;
	max-width: 960px;
}

#course .course-list {
	.container {
		@include container-sm();
	}

	@include st() {
		.container {
			@include container-md();
		}
	}
	@include dt() {
		.container {
			@include container-lg();
		}
	}
	.dropdown {
		select {
			border: 1px solid $darkblue;
			padding: 4px;
		}
	}

	/*card*/
	.card-group {
		.noResult {
			display: none;
			p {
				font-size: 24px;
				color: $darkgreen;
				text-align: center;
			}
		}
		a {
			text-decoration: none;
			color: #000;
		}
		@include m() {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		@include st() {
			//flex-direction: column;
			justify-content: space-between;
			@include flex-ac();
		}
		@include dt() {
			flex-direction: row;
			justify-content: space-evenly;
		}
	}

	.card {
		@include card();
		@include m() {
			width: 275px;
			height: 400px;
		}
		@media all and (max-width: 400px) {
			line-height: 1.5;
			width: 360px;
			height: 110px;
			.header {
				height: 100%;
				width: 50%;
				img {
					width: 100%;
				}
			}
			.content {
				gap: 0;
				width: 50%;
				height: 100%;
				justify-content: space-evenly;
			}
		}
	}

	.card:hover {
		cursor: pointer;
		box-shadow: 1px 1px 10px $darkblue;
	}
	.noResult {
		display: none;
		p {
			font-size: 24px;
			color: $darkgreen;
			padding: 1rem;
		}
	}
}
