section {
  margin: 64px 0;
}
.explore {
  .container {
    @include container-sm();
  }

  @include st() {
    .container {
      @include container-md();
    }
  }
  @include dt() {
    .container {
      @include container-lg();
    }
  }

  .title {
    h1 {
      font-size: $d-size-1;
      padding: 16px 0;
    }
  }

  .tag-group {
    padding: 16px 0;
    .tag {
      border: none;
      color: white;
      padding: 8px 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 15px;
      background-color: $darkgreen;
    }
  }

  .searchbar {
    form {
      text-align: center;
      input {
        width: 80%;
        padding: 8px;
      }
    }
  }
}

hr {
  width: 80%;
  text-align: center;
  background-color: $darkblue;
  height: 2px;
}

.course-list {
  .container {
    @include container-sm();
  }

  @include st() {
    .container {
      @include container-md();
    }
  }
  @include dt() {
    .container {
      @include container-lg();
    }
  }
  .dropdown {
    select {
      border: 1px solid $darkblue;
      padding: 4px;
    }
  }

  /*card*/
  .card-group {
    @include st() {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .card {
    margin: 1.5rem;
    border: 1px solid $darkblue;
    display: flex;
    align-items: stretch;
    .header {
      img {
        height: 100%;
        width: 100px;
      }
    }

    .content {
      line-height: 1.5;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 0 8px;
      h4 {
        font-size: $m-size-4;
      }
      h5,
      p {
        display: none;
      }

      .bottom {
        display: flex;
        justify-content: space-between;

        .bottom-left {
          .clock,
          .people {
            display: none;
          }
        }

        .bottom-right {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .collect {
            order: 1;
            img {
              width: 30px;
            }
          }
          .price {
            font-size: $m-size-4;
            color: $darkblue;
          }
        }
      }
    }

    @include st() {
      flex-direction: column;
      align-items: stretch;
      max-width: 250px;
      .header {
        img {
          width: 100%;
        }
      }
      .content {
        padding: 8px 12px;
        line-height: 1.5;
        gap: 8px;
        h4 {
          font-size: $d-size-4;
        }
        h5 {
          display: inherit;
          padding: 8px 0;
          font-size: $d-size-5;
        }
        p {
          display: inherit;
          font-size: $d-size-6;
        }

        .bottom {
          font-size: $d-size-6;

          .people,
          .clock {
            display: flex;
            align-items: center;
            gap: 8px;
            img {
              width: 30px;
            }
          }
          .price {
            font-size: $d-size-4;
          }
          .collect {
            text-align: right;
            order: 0;
            img {
              width: 30px;
            }
          }
        }
      }
    }
  }
  .card:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px $darkblue;
  }
}
