#bg {
  width: 550px;
  height: 600px;
  margin: 0 auto;
  background: url(../images/turntable-bg.png) no-repeat;
  position: relative; 

  #pointer{
    position: absolute;
    z-index: 10;
    top: 190px;
    left: 224px;
  }
  #turntable{
    position: absolute;
    z-index: 5;
    top: 30px;
    left: 30px;
    transition: all 4s;
  }
}


