* {
  box-sizing: border-box;
}
section {
  margin: 64px 0;
}

/* slider */

.slider {
  .owl-theme {
    cursor: pointer;
    .owl-stage-outer {
      margin: 0 auto;
      .owl-stage {
        background-color: #fff;
      }
    }
  }

  @include dt() {
    .container {
      @include container-lg();
    }
    .owl-theme {
      .owl-stage-outer {
        width: 1000px;
        height: 600px;
      }
    }
  }
}

.owl-carousel .item h4 {
  color: #fff;
  font-weight: 400;
  font-size: 1.4375rem;
  margin-top: 0rem;
}

/*slogan*/

.slogan {
  .info {
    text-align: center;
    .box {
      @include flex-ac;
      gap: 0.5rem;
      .txt {
        h5 {
          font-size: $d-size-5;
        }
        p {
          font-size: $d-size-6;
          line-height: 2;
        }
      }
    }
  }

  @include dt() {
    .container {
      @include container-lg();
    }
    .info {
      @include flex-ac;
      justify-content: space-around;
      .box {
        @include flex-ac;
        gap: 0.5rem;
        .txt {
          h5 {
            font-size: $d-size-5;
          }
          p {
            font-size: $d-size-6;
            line-height: 2;
          }
        }
      }
    }
  }
}

/*latest*/

.latest,
.hot {
  .container {
    @include container-sm();
  }
  .title {
    @include flex-ac;
    padding-bottom: 8px;
    h2 {
      padding-left: 8px;
      font-size: $d-size-2;
      color: $darkblue;
    }
  }

  .look-more {
    cursor: pointer;
    padding: 1rem;
    @include flex-ac;
    align-items: flex-start;
    justify-content: flex-end;
    p {
      color: $darkblue;
      font-size: $d-size-5;
    }

    i {
      padding-left: 8px;
      color: $darkblue;
    }
  }

  @include dt() {
    .container {
      @include container-lg();
    }
  }
}

/*card*/
.card-group {
  @include dt() {
    display: flex;
    justify-content: space-between;
  }
}
.card {
  margin: 0.5rem;
  border: 1px solid $darkblue;
  display: flex;
  align-items: center;
  .header {
    img {
      height: 100%;
      width: 150px;
    }
  }

  .content {
    line-height: 1.5;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 8px;
    h4 {
      font-size: $m-size-3;
    }
    h5,
    p {
      display: none;
    }

    .bottom {
      display: flex;
      justify-content: space-between;

      .bottom-left {
        .clock,
        .people {
          display: none;
        }
      }

      .bottom-right {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .collect {
          order: 1;
          img {
            width: 30px;
          }
        }
        .price {
          font-size: $m-size-3;
          color: $darkblue;
        }
      }
    }
  }

  @include dt() {
    flex-direction: column;
    align-items: stretch;
    @include card(100px, 300px, 15px);
    .header {
      img {
        width: 100%;
      }
    }
    .content {
      padding: 8px 12px;
      line-height: 1.5;
      gap: 8px;
      h4 {
        font-size: $d-size-4;
      }
      h5 {
        display: inherit;
        padding: 8px 0;
        font-size: $d-size-5;
      }
      p {
        display: inherit;
        font-size: $d-size-6;
      }

      .bottom {
        font-size: $d-size-6;

        .people,
        .clock {
          display: flex;
          align-items: center;
          gap: 8px;
          img {
            width: 30px;
          }
        }
        .price {
          font-size: $d-size-4;
        }
        .collect {
          text-align: right;
          order: 0;
          img {
            width: 30px;
          }
        }
      }
    }
  }
}
.card:hover {
  cursor: pointer;
  box-shadow: 1px 1px 10px $darkblue;
}

/*service*/
.service {
  .pic {
    margin: 0 auto;
    width: 100%;
    height: 300px;
    background-image: url(../assets/images/pics/service.jpg);
    background-position: center;
    background-size: cover;
  }

  .item-group {
    margin: 0 auto;
    position: relative;
    margin-top: -150px;
    @include flex-ac;
    justify-content: space-around;
    .item {
      padding: 16px;
      width: 200px;
      height: 300px;
      border: 2px solid $darkblue;
      background-color: #fff;
      overflow: hidden;
      border-radius: 15px;

      h3 {
        font-size: $d-size-3;
        line-height: 1.5;
        text-align: center;
      }
      p {
        font-size: $d-size-5;
        line-height: 1.5;
      }
    }

    .item:hover {
      cursor: pointer;
    }
  }

  .item:nth-child(2) {
    display: none;
  }
  .item:nth-child(3) {
    display: none;
  }

  @include dt() {
    .container {
      @include container-lg();
    }
    .pic {
      margin: 0 auto;
      width: 1000px;
      height: 400px;
      background-image: url(../assets/images/pics/service.jpg);
      background-position: center;
      background-size: cover;
    }

    .item-group {
      margin: 0 auto;
      position: relative;
      margin-top: -200px;
      @include flex-ac;
      justify-content: space-around;
      width: 1000px;
      height: 400px;
      .item:nth-child(2) {
        display: initial;
      }
      .item:nth-child(3) {
        display: initial;
      }
      .item {
        padding: 16px;
        width: 200px;
        height: 300px;
        border: 2px solid $darkblue;
        background-color: #fff;
        overflow: hidden;
        border-radius: 15px;

        h3 {
          font-size: $d-size-3;
          line-height: 1.5;
          text-align: center;
        }
        p {
          font-size: $d-size-5;
          line-height: 1.5;
        }
      }

      .item:hover {
        cursor: pointer;
      }
    }
  }
}
