section {
  margin: 64px 0;
}

/* slider */

.slider {
  .owl-theme {
    cursor: pointer;
    .owl-stage-outer {
      max-width: 992px;
      margin: 0 auto;
    }
  }

  @include dt() {
    .container {
      @include container-lg();
    }
    .owl-theme {
      .owl-stage-outer {
        height: 558px;
        .owl-item {
          img {
            max-width: 992px;
            height: 100%;
          }
        }
      }
    }
  }
}

.owl-carousel .item h4 {
  color: #fff;
  font-weight: 400;
  font-size: 1.4375rem;
  margin-top: 0rem;
}

/*slogan*/

.slogan {
  .container {
    @include container-sm();
  }
  .info {
    text-align: center;
    .box {
      @include flex-ac;
      justify-content: center;
      .logo {
        img {
          width: 50px;
        }
      }
      .txt {
        flex-grow: 1;
        h5 {
          font-size: $d-size-5;
        }
        p {
          font-size: $d-size-6;
          line-height: 2;
        }
      }
    }
  }

  @include st() {
    .info {
      @include flex-ac;
      justify-content: space-around;
      .box {
        @include flex-ac;
        .logo {
          img {
            width: 30px;
          }
        }
        .txt {
          text-align: center;
          h5 {
            font-size: $d-size-6;
            font-weight: bold;
          }
          p {
            font-size: $m-size-6;
            line-height: 1.5;
          }
        }
      }
    }
  }

  @include dt() {
    .container {
      @include container-lg();
    }

    .info {
      @include flex-ac;
      justify-content: space-around;
      .box {
        @include flex-ac;
        gap: 0.5rem;
        .txt {
          h5 {
            font-size: $d-size-5;
          }
          p {
            font-size: $d-size-6;
            line-height: 2;
          }
        }
      }
    }
  }
}

/*latest*/

.latest,
.hot {
  .container {
    @include container-sm();
  }
  .title {
    @include flex-ac;
    padding-bottom: 8px;
    h2 {
      padding-left: 8px;
      font-size: $d-size-2;
      color: $darkblue;
    }
  }

  .look-more {
    cursor: pointer;
    padding: 1rem;
    @include flex-ac;
    align-items: flex-start;
    justify-content: flex-end;
    a {
      text-decoration: none;
      color: $darkblue;
      font-size: $d-size-5;
    }

    i {
      padding-left: 8px;
      color: $darkblue;
    }
  }

  @include st() {
    .container {
      @include container-md();
    }
  }

  @include dt() {
    .container {
      @include container-lg();
    }
  }

  /*card*/
  .card-group {
    a {
      text-decoration: none;
      color: #000;
    }
    @include dt() {
      display: flex;
      justify-content: space-between;
    }
  }
  .card {
    margin: 0.5rem;
    border: 1px solid $darkblue;
    display: flex;
    align-items: center;
    max-height: 400px;
    .header {
      img {
        height: 100%;
        width: 150px;
      }
    }

    .content {
      line-height: 1.5;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 0 8px;
      h4 {
        font-size: $m-size-3;
      }
      h5,
      p {
        display: none;
      }

      .bottom {
        display: flex;

        justify-content: space-between;

        .bottom-left {
          .clock,
          .people {
            display: none;
          }
        }

        .bottom-right {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .collect {
            order: 1;
            img {
              width: 30px;
            }
          }
          .price {
            font-size: $m-size-3;
            color: $darkblue;
          }
        }
      }
    }

    @include dt() {
      flex-direction: column;
      align-items: stretch;
      .header {
        img {
          width: 100%;
        }
      }
      .content {
        padding: 8px 12px;
        line-height: 1.5;
        gap: 0px;
        h4 {
          font-size: $d-size-4;
        }
        h5 {
          display: inherit;
          font-size: $d-size-5;
        }
        p {
          display: inherit;
          font-size: $d-size-6;
        }

        .bottom {
          font-size: $d-size-6;
          flex-direction: column;
          flex-grow: 1;
          .bottom-left {
            @include flex-ac;
            justify-content: space-between;
            .people,
            .clock {
              @include flex-ac;
              gap: 8px;
              img {
                width: 30px;
              }
            }
          }

          .price {
            font-size: $d-size-4;
          }
          .collect {
            text-align: right;
            order: 0;
          }
        }
      }
    }
  }
  .card:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px $darkblue;
  }
}

/*service*/
.service {
  .pic {
    margin: 0 auto;
    width: 100%;
    height: 300px;
    background-image: url("https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-position: center;
    background-size: cover;
  }

  .item-group {
    display: none;
  }

  .carousel {
    position: relative;
    margin-top: -200px;
    .owl-stage-outer {
      margin: 0 auto;
      max-width: 250px;
    }
    .item {
      padding: 8px;
      width: 250px;
      height: 300px;
      border: 2px solid $darkblue;
      background-color: #fff;
      overflow: hidden;
      border-radius: 15px;

      h3 {
        font-size: $d-size-3;
        line-height: 1.5;
        text-align: center;
        color: $darkblue;
        font-weight: bold;
      }
      p {
        text-align: center;
        font-size: $d-size-5;
        line-height: 1.75;
        padding: 2rem 0;
      }
    }
  }
  @include st() {
    .container {
      @include container-md();
    }

    .carousel {
      display: none;
    }
    .item-group {
      margin: 0 auto;
      position: relative;
      margin-top: -200px;
      @include flex-ac;
      justify-content: space-around;
      width: 100%;
      height: 400px;
      .item:nth-child(2) {
        display: initial;
      }
      .item:nth-child(3) {
        display: initial;
      }
      .item {
        padding: 16px;
        width: 200px;
        height: 240px;
        border: 2px solid $darkblue;
        background-color: #fff;
        overflow: hidden;
        border-radius: 15px;

        h3 {
          font-size: $d-size-3;
          line-height: 1.5;
          text-align: center;
          color: $darkblue;
          font-weight: bold;
        }
        p {
          padding: 16px 0;
          text-align: center;
          font-size: $d-size-5;
          line-height: 1.5;
        }
      }

      .item:hover {
        cursor: pointer;
      }
    }
  }

  @include dt() {
    .container {
      @include container-lg();
    }
    .pic {
      margin: 0 auto;
      width: 100%;
      height: 400px;
      background-image: url("https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
      background-position: center;
      background-size: cover;
    }
  }
}
