#home {
	margin-top: -75px;
}

#home section {
	margin: 2.5rem 0;
}

/* slider */

#home .slider {
	margin-top: 0;
	.owl-theme {
		cursor: pointer;
		.owl-stage-outer {
			max-width: 800px;
			margin: 0 auto;
			max-height: 450px;
			.owl-item {
				img {
					max-width: 800px;
					height: 100%;
				}
			}
		}
	}

	@include dt() {
		.container {
			@include container-lg();
		}
	}
}

#home .owl-carousel .item h4 {
	color: #fff;
	font-weight: 400;
	font-size: 1.4375rem;
	margin-top: 0rem;
}

/*slogan*/

#home .slogan {
	.container {
		@include container-sm();
	}
	.info {
		margin: auto;
		text-align: center;
		.box {
			@include flex-ac;
			justify-content: center;
			padding: 8px;
			.logo {
				img {
					width: 40px;
				}
			}
			.txt {
				max-width: 200px;
				flex-grow: 1;
				h5 {
					font-size: $d-size-5;
					font-weight: bold;
					color: $darkblue;
					padding-bottom: 8px;
				}
				p {
					font-size: $d-size-6;
					line-height: 1.5;
					color: $darkgray;
				}
			}
		}
	}

	@include dt() {
		.container {
			@include container-lg();
		}

		.info {
			@include flex-ac;
			justify-content: space-around;
			.box {
				@include flex-ac;
				gap: 0.5rem;
				.txt {
					max-width: 250px;
					h5 {
						font-size: $d-size-5;
					}
					p {
						font-size: $d-size-6;
						line-height: 2;
					}
				}
			}
		}
	}
}

/*latest*/

#home .latest,
.hot {
	.container {
		@include container-sm();
	}
	.title {
		@include flex-ac;
		padding-bottom: 8px;
		img {
			width: 30px;
			height: 30px;
		}
		h2 {
			padding-left: 8px;
			font-size: $d-size-2;
			color: $darkblue;
		}
	}

	.look-more {
		cursor: pointer;
		padding: 1rem;
		@include flex-ac;
		align-items: flex-start;
		justify-content: flex-end;
		a {
			text-decoration: none;
			color: $darkblue;
			font-size: $d-size-5;
		}

		i {
			padding-left: 8px;
			color: $darkblue;
		}
	}

	@include st() {
		.container {
			@include container-md();
		}
	}

	@include dt() {
		.container {
			@include container-lg();
		}
	}

	/*card-group*/
	.card-group {
		a {
			text-decoration: none;
			color: #000;
		}
		@include m() {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		@include st() {
			flex-direction: column;
			@include flex-ac();
		}
		@include dt() {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	.card {
		@include card();
		@include m() {
			width: 275px;
			height: 400px;
		}

		@media all and (max-width: 400px) {
			line-height: 1.5;
			width: 360px;
			height: 110px;
			.header {
				height: 100%;
				width: 50%;
				img {
					width: 100%;
				}
			}
			.content {
				gap: 0;
				width: 50%;
				height: 100%;
				justify-content: space-between;
				padding: 4px 4px;
			}
		}
	}
	.card:hover {
		cursor: pointer;
		box-shadow: 1px 1px 10px $darkblue;
	}
}

#home .animate {
	@include container();
	overflow: hidden;
	.animation {
		background: url(./../images/cloud.svg);
		background-size: contain;
		height: 320px;
		width: 6048px;
		animation: slide-left 60s linear infinite;
	}
}

@keyframes slide-left {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-2310px, 0, 0);
	}
}

/*service*/
#home .service {
	.pic {
		margin: 0 auto;
		width: 100%;
		height: 300px;
		background-image: url("https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
		background-position: center;
		background-size: cover;
	}

	.item-group {
		display: none;
	}

	.carousel {
		position: relative;
		margin-top: -200px;
		.owl-stage-outer {
			margin: 0 auto;
			max-width: 250px;
		}
		.item {
			padding: 8px;
			width: 250px;
			height: 300px;
			border: 2px solid $darkblue;
			background-color: #fff;
			overflow: hidden;
			border-radius: 15px;
			a {
				text-decoration: none;
				color: #000;
			}
			h3 {
				font-size: $d-size-3;
				line-height: 1.5;
				text-align: center;
				color: $darkblue;
				font-weight: bold;
			}
			p {
				text-align: center;
				font-size: $d-size-5;
				line-height: 1.75;
				padding: 2rem 0;
				color: $darkgray;
			}
		}
	}
	@include st() {
		.container {
			@include container-md();
		}

		.carousel {
			display: none;
		}
		.item-group {
			margin: 0 auto;
			position: relative;
			margin-top: -200px;
			@include flex-ac;
			justify-content: space-around;
			width: 100%;
			height: 400px;
			.item:nth-child(2) {
				display: initial;
			}
			.item:nth-child(3) {
				display: initial;
			}
			.item {
				padding: 16px;
				width: 200px;
				height: 240px;
				border: 2px solid $darkblue;
				background-color: #fff;
				overflow: hidden;
				border-radius: 15px;
				a {
					text-decoration: none;
					color: #000;
				}
				h3 {
					font-size: $d-size-3;
					line-height: 1.5;
					text-align: center;
					color: $darkblue;
					font-weight: bold;
				}
				p {
					padding: 16px 0;
					text-align: center;
					font-size: $d-size-5;
					line-height: 1.5;
					color: $darkgray;
				}

				&:hover {
					cursor: pointer;
					animation: jello-horizontal 1s both;
				}

				@keyframes jello-horizontal {
					0% {
						transform: scale3d(1, 1, 1);
					}
					30% {
						transform: scale3d(1.25, 0.75, 1);
					}
					40% {
						transform: scale3d(0.75, 1.25, 1);
					}
					50% {
						transform: scale3d(1.15, 0.85, 1);
					}
					65% {
						transform: scale3d(0.95, 1.05, 1);
					}
					75% {
						transform: scale3d(1.05, 0.95, 1);
					}
					100% {
						transform: scale3d(1, 1, 1);
					}
				}
			}
		}
	}

	@include dt() {
		.container {
			@include container-lg();
		}
		.pic {
			margin: 0 auto;
			width: 100%;
			height: 400px;
			background-image: url("https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
			background-position: center;
			background-size: cover;
		}
	}
}

/*game*/
#home .game {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	padding-right: 30px;
	z-index: 10;
	position: sticky;
	top: 80vh;
	max-width: 100%;
	img {
		width: 80px;
		vertical-align: middle;
		&:hover {
			animation: rotate-center 0.6s ease-in-out both;
		}

		@keyframes rotate-center {
			0% {
				transform: rotate(0);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}
}
