#log{
    max-width: $layoutwidth;
    margin: 0 auto 260px;
    padding: 0 20px;
    
    h1{
        font-size: $size-1;
        color: $darkgreen;
        margin-bottom: 0px;
    }
    .log_in_f{
        width: 250px;
        margin: 30px auto 0;
    }

    h5{
        font-size: $size-5;
        color: $black;
        margin: 20px 0 5px 0;
    }

    input{
        width: 250px;
        height: 30px;
        background-color: $blue;
        border: none;
        border-radius: 20px;
        padding: 20px;
    }

    textarea{
        background-color: $blue;
        border: none;
        border-radius: 15px;
    }

    .btns{
        float: right;
        margin-top: 30px;
        a{
            text-decoration: none;
        }
    }

    .notready_btn{
        width: 100px;
        height: 35px;
        border-radius: 18px;
        border: 2px solid $darkgreen;
        margin-right: 10px;
        p{
            font-size: $size-6;
            margin: 0;
            color: $darkgreen;
        }
    }

    .login_btn{
        width: 80px;
        height: 35px;
        border-radius: 18px;
        border: none;
        background-color: $darkgreen;
        p{
            font-size: $size-6;
            margin: 0;
            color: $white;
        }
    }
}

