.bg {
    width: 100%;
    height: 300px;
    background-color: #276678;
}
.problem {
    width: 100%;
    margin: -50px auto;

    @include dt() {
        width: 1024px;
        margin: auto;
    }
}

.problem-content {
    border: 5px solid #D3E0EA;
    width: 90%;
    margin: -50px auto 100px;
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 50px;

    h2 {
        font-weight: bold;
        padding: 0 10%;
        margin: 50px auto 20px;
        font-size: $m-size-2;
        color: #1687A7;
        @include dt(){
            font-size: $d-size-1;
        }
    }

    .author-info {
        width: 80%;
        margin: auto;
        display: flex;
        align-items: center;
    }

    .problem-tip {
        width: 80%;
        background-color: #D3E0EA;
        margin: 30px auto 10px;
        padding: 10px;
        font-size:20px;
        line-height: 25px;
        @include dt(){
            padding: 20px;
            font-size: 20px;
        }
    }
    @include dt(){
        width: 80%;
    }

}

.problem-anw {
    width: 80%;
    margin: auto;
    
    @include dt(){
        font-size: $d-size-3;
    }
    p {
        font-size: $d-size-5;
        line-height: 25px;
        @include dt(){
            font-size: $m-size-4;
            padding: 10px 20px;
        }
    }
}

/* 管理員 A 的 左邊間距 */
.author-name {
    margin-left: 20px;

    h3 {
        margin-bottom: 5px;
        font-size:$d-size-6;
    }
    p{
        font-size: $d-size-6;
    }
}





.problem>h2 {
    font-weight: bold;
    font-size: $m-size-3;
    text-align: center;
    margin-bottom: 20px;
    color: #1687A7;
    @include dt(){
        font-size: $d-size-1;
    }
}

.other {
    width: 80%;
    background-color: #D3E0EA;
    margin: 0 auto 100px;
    padding: 10px;

    span {
      
        color: #777;
        font-size: $m-size-6;
        @include dt(){
            font-size: $d-size-4;
        }
    }

    p {
        color: #1687A7;
        font-size: $m-size-4;
        text-align: center;
        margin-top: 25px;
        @include dt(){
            font-size: $d-size-2;
        }
    }

    @include dt() {
        width: 400px;
        padding: 10px;
    }
}