.interface-finish{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{
        font-size:$size-3;
        margin: 20px auto 50px;
        color: #1687A7;
    }
    button{
        user-select: none;
        width: 100px;
        height: 45px;
        border-radius: 50px;
        background-color: #276678;   
        color: #fff;  
        border: none;
        font-size: $size-6;
        margin-bottom: 50px;
    }
    .finish-icon{
        width: 134px;
        img{
            user-select: none;
            width: 100%;
        }
        @include dt(){
            width: 130px;
        }
    }
}