#sign{
    max-width: $layoutwidth;
    margin: 0 auto 125px;
    padding: 0 20px;

    h1{
        font-size: $size-1;
        color: $darkgreen;
        margin-bottom: 30px;
    }

    .sign_up_f{
        width: 250px;
        margin: 30px auto 0;

        h5{
            font-size: $size-5;
            color: $black;
            margin: 20px 0 5px 0;
        }

        input{
            width: 250px;
            height: 30px;
            background-color: $blue;
            border: none;
            border-radius: 20px;
            padding: 20px;
        }

        textarea{
            background-color: $blue;
            border: none;
            border-radius: 15px;
        }

        .btns{
            float: right;
            margin-top: 30px;
    
            .already_btn{
                width: 120px;
                height: 35px;
                border-radius: 18px;
                border: 2px solid $darkgreen;
                margin-right: 5px;
                a{
                    text-decoration: none;
                    p{
                        font-size: $size-6;
                        margin: 0;
                        color: $darkgreen;
                    }
                }
            }
                
        
            .sign_btn{
                width: 80px;
                height: 35px;
                border-radius: 18px;
                border: none;
                background-color: $darkgreen;
                p{
                    font-size: $size-6;
                    margin: 0;
                    color: $white;
                }
                
            }
        }
    }
}

