//變數
/*css註解*/
//網頁主色
$gray: #f6f5f5;
$blue: #d3e0ea;
$darkblue: #1687a7;
$darkgreen: #276678;
//網頁輔助色
//課程主標、內文
$black: #333333;
//副標、
$darkgray: #777777;
$white: #ffffff;
//連結顏色
$link: rgb(0, 56, 177);


// header 參數設定

  // header 背景色
  $header-color:#D3E0EA;
  // header 類別文字色
  $header-font:#276678;
  // 類別下拉式背景色
  $course-items-group:#fff;
  // 類別下拉式li背景色
  $course-items-group-item:#276678;
  // 類別下拉式 a 文字
  $course-items-group-font:#fff;


  // 登入註冊
  $login-color:#276678;
  // 登入文字色
  $login-font:#fff;

  // rwd 類別文字顏色
  $rwd-items-group-font:#1687A7;





//字體大小(新)
$size-1: 30px; //頁面大標題(粗體bold).主頁分類標題
$size-2: 24px; //金額
$size-3: 22px; //課程主標
$size-4: 20px; //header.footer大按鈕
$size-5: 18px; //一般標題
$size-6: 16px; //小按鈕(ex.送出).課程副標
$size-7: 14px; //一般內文
$size-8: 10px; //說明小字


//舊字級(不要用)
$d-size-1: 36px;
$d-size-2: 30px;
$d-size-3: 26px;
$d-size-4: 22px;
$d-size-5: 18px;
$d-size-6: 14px;

$m-size-1: 32px;
$m-size-2: 28px;
$m-size-3: 24px;
$m-size-4: 18px;
$m-size-5: 14px;
$m-size-6: 10px;


//版型
$layoutwidth: 960px; //版面max-width

//斷點
$cell: 576px;
$s-tablet: 768px;
$tablet: 996px;
$desktop: 1024px;
$XL-desktop: 1366px;

//container 設定
@mixin container() {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  margin: 0 auto;
}

@mixin container-sm() {
  @include container();
  max-width: 540px;
}
@mixin container-md() {
  @include container();
  max-width: 720px;
}

@mixin container-lg() {
  @include container();
  max-width: 960px;
}

@mixin container-xl() {
  @include container();
  max-width: 1140px;
}

@mixin container-xxl() {
  @include container();
  max-width: 1320px;
}
