@import "./base/reset";
@import "./base/var";
@import "./base/rwd";
@import "./base/card";
@import "./base/center";
@import "./mixin/mixin";

body {
  background-color: $gray;
  font-family: 微軟正黑體;
}

@import "./layout/header";
@import "./layout/footer";

@import "./page/stdlogin";
@import "./page/aboutus";
@import "./page/backend";

//uber
@import "./page/page";
@import "./page/page2";
@import "./page/page3";
@import "./page/pay";
@import "./page/Pay-Finish";
@import "./page/course";
@import "./page/home";
@import "./page/lesson";

@import "./page/signUp";
@import "./page/logIn";
@import "./page/game";
@import "./page/index";

* {
  box-sizing: border-box;
}
