@import "./base/reset";
@import "./base/var";
@import "./base/rwd";
@import "./base/card";
@import "./base/center";
@import "./mixin/mixin";

body{
  background-color: $gray;
  font-family: 微軟正黑體;
  h1{font-size: $m-size-1}
  h2{font-size: $m-size-2}
  h3{font-size: $m-size-3}
  h4{font-size: $m-size-4}
  h5{font-size: $m-size-5}
  p{font-size: $m-size-6}

  @include t(){
      h1{font-size: $d-size-1}
      h2{font-size: $d-size-2}
      h3{font-size: $d-size-3}
      h4{font-size: $d-size-4}
      h5{font-size: $d-size-5}
      p{font-size: $d-size-6}
  }
}

@import "./layout/header";
@import "./layout/footer";

@import "./page/stdlogin";
@import "./page/aboutus";


//uber
@import "./page/page";
@import "./page/page2";
@import "./page/page3";
@import "./page/pay";
@import "./page/Pay-Finish";
@import "./page/course";
@import "./page/home";

@import './page/signUp';
@import './page/logIn';
@import './page/game';

* {
  box-sizing: border-box;
}
