.main-footer{
    background-color: $blue;
    padding: 20px;
    box-sizing: border-box;
    p{
        font-size: $d-size-6;
        text-align:center;
        line-height:1.5;
        color: $darkblue;
    }
}

.footer_nav{
    // margin-left: auto;
    margin-bottom: 10px;
    a{
        font-size: $d-size-5;
        color: $darkgreen;
        text-decoration: none;
        font-weight: bold;
        margin-right: 10px;
        img{height: 40px;}
    }
    a:last-child{margin-right: 0;}
    .footer_text{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @include m(){
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    
}


