.main-header{
    background-color: #D3E0EA;
    position: relative;

    .shopcart{
        position: absolute;
        right: 90px;
        top: 7.5px;
        img{height: 45px;}
    }
    
    @include dt(){
        height: 60px;
        display: flex;
        #hbg_btn {display: none;}
        #menu{
            width: 80%;
            height: auto;
            position: absolute;
            background-color: #00000000;
            padding: 0;
            right: 20px;
            top: 0px;
            display: flex;
        }
        .shopcart{
            position: absolute;
            right: 170px;
        }
    }
}

.logo img{
    height: 50px;
    margin: 5px 20px;
}

#hbg_btn{
    width: 40px;
    margin-right: 20px;
    position: absolute;
    right: 5px;
    top: 15px;
    cursor:pointer;
}

#menu{
    width: 100%;
    height: 300px;
    background-color: $blue;
    position: absolute;
    padding: 15px 0 0 15px;
    right: 0;
    top: -600px;
    
    img{
        height: 30px;
        margin: 10px 0 10px 20px;
    }
    a{text-decoration: none;}
    a:nth-child(2){
        margin-left: auto;
    }
    button{
        height: 50px;
        width: 130px;
        border: none;
        border-radius: 25px;
        display: flex;
        background-color: #00000000;
        margin: 5px 0;
        cursor:pointer;
        h4{
            font-size: $d-size-5;
            line-height: 50px;
            margin: 0 auto;
            color: $darkgreen;
            font-weight: bold;
        }
    }
    img:last-child{height: 35px;}
    #sort_1{display: none;}
    @include dt(){
        button{
            background-color: $darkgreen;
            h4{
                font-size: $d-size-5;
                color: $white;
            }
        }
        #sort_1{display: inline;}
        #sort_2{display: none;}
    }

}

#menu.show{
    top: 60px;
    z-index: 1;
}

#sortMenu{
    background-color: $darkgreen;
    position: absolute;
    left: 0px;
    top: -600px;
    width: 100%;
    height: 300px;
    a{
        text-decoration: none;
        h4{
            font-size: $d-size-5;
            color: $white;
            margin: 20px;
        }
    }
    
    @include dt(){
        width: 100%;
        height: 40px;
        padding-top: 10px;
        display: flex;
        background-color: $blue;
        a{
            margin: 0 20px;
            h4{ 
                font-size: $d-size-5;
                margin: 0;
                color: $darkgreen;
            }
        }
    }
}

#sortMenu.show{
    left: 200px;
    top: 60px;
    z-index: 1;
    @include dt(){left: 0;}
}
