<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"
			integrity="sha512-vZWT27aGmde93huNyIV/K7YsydxaafHLynlJa/4aPy28/R1a/IxewUH4MWo7As5I33hpQ7JS24kwqy/ciIFgvg=="
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="./css/style.css" />

		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.js"></script>

		<title>Course</title>
	</head>

	<body>
		@@include('./layout/header.html')
		<div id="course">
			<explore @update-result="result = $event"></explore>
			<hr />
			<course-list :result="result"> </course-list>
		</div>

		@@include('./layout/footer.html')

		<script>
			Vue.component("explore", {
				data() {
					return {
						pic: {
							timeIcon: "./images/time.svg",
							peopleIcon: "./images/people.svg",
							collectIcon: "./images/heart.svg",
						},
					};
				},
				methods: {
					submitHandler() {
						//產生XMLHttpRequest物件
						let xhr = new XMLHttpRequest();
						//註冊callback function
						let vm = this;
						xhr.onload = function () {
							if (xhr.status == 200) {
								//console.log("成功");
								//console.log(xhr.responseText);
								let resArr = [];
								let res = JSON.parse(xhr.responseText);
								resArr = res.map((v) => {
									return {
										...v,
										collectIcon: vm.pic.collectIcon,
									};
								});
								vm.$emit("update-result", resArr);
							} else {
								console.log(xhr.status);
							}
						};
						//設定好所要連結的程式
						xhr.open("Post", "./php/searchCourse.php", true);
						xhr.setRequestHeader(
							"content-type",
							"application/x-www-form-urlencoded"
						);
						//送出資料
						let data_info =
							"keyWord=" + document.getElementById("search").value;
						xhr.send(data_info);
						document.getElementById("search").value = "";
					},
					tagHandler(str) {
						//產生XMLHttpRequest物件
						let xhr = new XMLHttpRequest();
						//註冊callback function
						let vm = this;
						xhr.onload = function () {
							if (xhr.status == 200) {
								//console.log("成功");
								//console.log(xhr.responseText);
								let res =JSON.parse(xhr.responseText);
								let tagRes = res.map((v) => {
									return {
										...v,
										collectIcon: vm.pic.collectIcon,
									};
								});
								vm.$emit("update-result", tagRes);
							} else {
								console.log(xhr.status);
							}
						};
						//設定好所要連結的程式
						xhr.open("Post", "./php/searchCourse.php", true);
						xhr.setRequestHeader(
							"content-type",
							"application/x-www-form-urlencoded"
						);
						//送出資料
						let data_info = "keyWord=" + str;
						xhr.send(data_info);
					},

					//偵測網址
					// watchLinkHref() {
					// 	let courseLinkHref = window.location.href.split("=")[1];
					// 	console.log(courseLinkHref);
					// 	// let categoryHref = window.location.href.split("?")[1].split("=")[1]; //latest

					// 	switch (courseLinkHref) {
					// 		case "css":
					// 			this.tagHandler("css");
					// 			break;
					// 		case "html":
					// 			this.tagHandler("html");
					// 		default:
					// 			break;
					// 	}
					// },
				},
				mounted() {},
				template: `<section class="explore">
								<div class="container">
								<div class="title">
									<h1>探索課程</h1>
								</div>
								<div class="tag-group">
									<div class="tag" @click="tagHandler('html')"">Html</div>
									<div class="tag" @click="tagHandler('css')">Css</div>
									<div class="tag" @click="tagHandler('javascript')">JavaScript</div>
									<div class="tag" @click="tagHandler('python')">Python</div>
								</div>
								<div class="searchbar">
									<form  @submit.prevent='submitHandler()'>
									<input type="text" placeholder="Search" name="search" id='search'  />
									</form>
								</div>
								</div>
							</section>`,
			});

			Vue.component("course-list", {
				props: ["result"],
				data() {
					return {
						fav: [],
						pic: {
							timeIcon: "./images/time.svg",
							peopleIcon: "./images/people.svg",
							collectIcon: "./images/heart.svg",
						},
						cards: [],
						selected: "",
					};
				},
				watch: {
					result(nVal, oVal) {
						//console.log(nVal);
						//console.log(oVal);
						let vm = this;
						let noResult = document.querySelector(".noResult");
						if (nVal.length == 0) {
							noResult.style.display = "block";
							vm.cards = [];
						} else {
							noResult.style.display = "none";
							vm.cards = vm.result;
							vm.getCollect();
						}
					},

					selected: {
						// handler: function(){},
						handler(newValue) {
							console.log(newValue);
							switch (newValue) {
								case "latest":
									this.getCourse("./php/getAllNewCourse.php");
									break;
								case "hotest":
									this.getCourse("./php/getAllHotCourse.php");
									break;
								case "all":
									this.getCourse("./php/getAllCourse.php");
									break;
								case "html":
									this.linkHandler("html");
									break;
								case "css":
									this.linkHandler("css");
									break;
								case "python":
									this.linkHandler("python");
									break;
								case "javascript":
									this.linkHandler("javascript");
									break;
								case "java":
									this.linkHandler("java");
									break;
								default:
									break;
							}
						},
						immediate: true, // false by default, if true --> 當 Vue instance 一建立(create) 就馬上執行 watch
						deep: false, // false by default, 見下一個程式
					},
				},

				methods: {
					//取課程卡片資訊
					getCourse(url) {
						let vm = this;
						fetch(url)
							.then(function (response) {
								response.json().then(function (response) {
									console.log(response);
									vm.cards = response.map((v) => {
										return {
											...v,
											collectIcon: vm.pic.collectIcon,
										};
									});
									vm.CheckRenderFav();
								});
							})
							.catch(function (error) {
								console.log(`Error: ${error}`);
							});
					},

					linkHandler(str) {
						let vm = this;
						let params = {
							str: str,
						};
						axios
							.post("./php/getHtml.php", params)
							.then((response) => {
								console.log(response.data);
								let res = response.data;
								let resArr = [];
								resArr = res.map((v) => {
									return {
										...v,
										collectIcon: vm.pic.collectIcon,
									};
								});
								console.log(resArr);
								vm.cards = resArr;
							})
							.catch((error) => {
								console.log(error.response);
							});
					},

					//判斷愛心渲染
					CheckRenderFav() {
						let vm = this;
						let loginCheck = new XMLHttpRequest();
						loginCheck.open("GET", "./php/logincheck.php", false);
						loginCheck.onload = function () {
							if (loginCheck.responseText != 1) {
								return;
							} else {
								vm.getCollect();
							}
						};
						loginCheck.send(null);
					},

					//判斷登入
					checkLogin() {
						let vm = this;
						let loginCheck = new XMLHttpRequest();
						loginCheck.open("GET", "./php/logincheck.php", false);
						loginCheck.onload = function () {
							if (loginCheck.responseText != 1) {
								alert("請先登入唷~");
								window.location.href = "course.html";
							} else {
								console.log();
							}
						};
						loginCheck.send(null);
					},

					switchFavorite(e, index) {
						let vm = this;
						vm.checkLogin();
						//console.log(e.target.src);
						let src = e.target.src;
						let srcBasic = src.split("images")[0]; //把heart連在後面
						let srcCheck = src.split("images/")[1]; //檢查heart or heart_2
						console.log(src);
						console.log(srcBasic);
						console.log(srcCheck); // heart.svg
						let url = "heart.svg";
						let url2 = "heart_2.svg";

						if (srcCheck == url) {
							e.target.src = srcBasic + "images/" + url2;
							this.insertFav(e.target.id);
						} else if (srcCheck == url2) {
							e.target.src = srcBasic + "images/" + url;
							this.deleteFav(e.target.id);
						}
						e.preventDefault();
					},

					//新增收藏進資料庫
					insertFav(cno) {
						let params = {
							cno: cno,
						};
						// console.log(params)
						axios.post("./php/insertFav.php", params).catch((error) => {
							console.log(error.response);
						});
					},
					//刪除資料庫收藏清單
					deleteFav(cno) {
						let params = {
							cno: cno,
						};
						// console.log(params)
						axios.post("./php/deleteFav.php", params).catch((error) => {
							console.log(error.response);
						});
					},

					//取得學生收藏
					getCollect() {
						let vm = this;
						fetch("./php/getFav.php")
							.then(function (response) {
								return response.json();
							})
							.then(function (res) {
								//console.log(res);
								res.forEach((result, index) => {
									//console.log(result.cno);
									vm.fav.push(result.cno);
								});
								vm.renderFav();
							})
							.catch(function (error) {
								console.log(`Error: ${error}`);
							});
					},
					//渲染愛心
					renderFav() {
						let favArr = this.fav;
						this.cards.forEach((card, index) => {
							if (favArr.includes(card.cno)) {
								this.cards[index].collectIcon = "./images/heart_2.svg";
							}
						});
					},

					changeHerf() {
						let link = window.location.href;
						console.log(link);
						let linkBasic = link.split("course.html")[0];
						let linkCheck = link.split("course.html")[1];

						console.log(linkBasic);
						console.log(linkCheck);
						if (linkCheck == "") {
							window.location.href = linkBasic + "course.html?catagory=all";
							console.log(link);
							this.watchHref();
						} else {
							this.watchHref();
						}
					},

					//偵測網址
					watchHref() {
						//console.log(courseHref);
						// let categoryHref = window.location.href.split("?")[1].split("=")[1]; //latest
						let courseHref = window.location.href.split("=")[1];
						switch (courseHref) {
							case "hotest":
								this.selected = "hotest";
								break;
							case "latest":
								this.selected = "latest";
								break;
							case "html":
								this.selected = "html";
								break;
							case "css":
								this.selected = "css";
								break;
							case "python":
								this.selected = "python";
								break;
							case "javascript":
								this.selected = "javascript";
								break;
							case "java":
								this.selected = "java";
								break;
							case "all":
								this.selected = "all";
								break;

							// default:
							// 	break;
						}
					},
				},
				mounted() {
					this.changeHerf();
				},

				template: `
			     <section class="course-list">
			     <div class="container">
			       <div class="dropdown">
			         <form>
			           <select name="filter" id="filter" v-model="selected" >
			             <option value="all" selected >所有課程</option>
			             <option value="latest">最新課程</option>
			             <option value="hotest">熱門課程</option>
			           </select>
			         </form>
			       </div>
			 <div class="noResult">
			            <p>找不到結果，請嘗試不同或更換常見的關鍵字~</p>
			       </div>

			        <div class="card-group">
			               <a href="./lesson.html" v-for='(card,index) in cards'>
			                   <div class="card">
			                       <div class="header">
			                       <img
			                         :src='cards[index].cpic'
			                         alt=""
			                       />
			                     </div>
			                     <div class="content">
			                       <div class="top">
			                         <h4>{{cards[index].cname}}</h4>
			                         <p>{{cards[index].subtitle}}</p>
			                       </div>
			                       <h5>{{cards[index].tname}}</h5>
			                       <div class="bottom">
			                         <div class="bottom-left">
			                         <div class="clock">
			                           <img :src='pic.timeIcon' alt="" />
			                           <span>{{cards[index].ctime}}min</span>
			                         </div>
			                         <div class="people">
			                           <img :src='pic.peopleIcon'alt="" />
			                           <span>{{cards[index].attend}}</span>
			                         </div>
			                       </div>
			                       <div class="bottom-right">
			                         <div class="collect">
			                           <img :src='cards[index].collectIcon' :id='cards[index].cno' @click='switchFavorite($event, index)'/>
			                         </div>
			                         <div class="price">NT$ {{cards[index].cpr}}</div>
			                       </div>
			                       </div>
			                     </div>
			                   </div>
			               </a>
			             </div>
			     </div>
			   </section>`,
			});

			new Vue({
				el: "#course",
				data: {
					arrAlready: [],
					result: [],
				},
				methods: {},
				mounted() {
					let storage = localStorage;
					if (storage["addClassList"] == null) {
						storage["addClassList"] = "";
					}
				},
			});
		</script>
	</body>
</html>
