<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css' integrity='sha512-vZWT27aGmde93huNyIV/K7YsydxaafHLynlJa/4aPy28/R1a/IxewUH4MWo7As5I33hpQ7JS24kwqy/ciIFgvg==' crossorigin='anonymous'/>

    <link rel="stylesheet" href="./css/style.css" />
    <!-- owl.carousel -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"></link>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"></link>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.js"></script>
  </head>
  <body>
    @@include('./layout/header.html')

    <div id="home"> <!-- HTML DOM template -->
        <div class="game">
          <a href="./game.html">
            <img src="./images/fix.svg" alt="game">
          </a>
        </div>
        <slider></slider>
        <slogan></slogan>
        <hot></hot>
        <latest></latest>
        <anima></anima>
        <service></service>

        
      
    </div>
    @@include('./layout/footer.html')
    <script>

        Vue.component('slider',{
          template:`
              <section class="slider">
        <div class="owl-carousel owl-theme owl-loaded">
          <div class="container">
            <div class="owl-stage-outer">
                <div class="owl-stage">
                    <div class="owl-item"><img src="./images/class_1.png" alt=""></div>
                    <div class="owl-item"><img src="./images/class_2.png" alt=""></div>
                    <div class="owl-item"><img src="./images/class_3.png" alt=""></div>
                    <div class="owl-item"><img src="./images/class_4.png" alt=""></div>
                </div>
              </div>
          </div>  
        </div>
      </section>
          `,
        })

        Vue.component('slogan',{
              data() {
              return {
                slogan: ['豐富專業內容','預約老師系統','學習不間斷'],
              };
            },
            template: `
              <section class="slogan">
                  <div class="container">
                    <div class="info">
                      <div class="box">
                        <div class="logo">
                          <img src="./images/slogan_1.svg" alt="">
                        </div>
                        <div class="txt">
                          <h5>{{slogan[0]}}</h5>
                          <p>多種程式語言，從初階到進階</p>
                        </div>
                    </div>
                    <div class="box">
                      <div class="logo">
                        <img src="./images/slogan_2.svg" alt="">
                      </div>
                      <div class="txt">
                        <h5>{{slogan[1]}}</h5>
                        <p>專業老師解惑，不怕學習遇到問題</p>
                      </div>
                    </div>
                    <div class="box">
                      <div class="logo">
                        <img src="./images/slogan_3.svg" alt="">
                      </div>
                      <div class="txt">
                        <h5>{{slogan[2]}}</h5>
                        <p>線上無限次觀看，隨時隨地學習</p>
                      </div>
                    </div>
                    </div>
                  </div>
                </section>
            `,
        });

        Vue.component('hot', {
            data() {
              return {
                fav:[],
                title:{
                  icon:"./images/hot.svg",
                  txt:'熱門課程'
                },
                pic:{
                  timeIcon:'./images/time.svg',
                  peopleIcon:"./images/people.svg",
                  collectIcon:"./images/heart.svg",
                },
                 cards: []
              };
            },
            methods: {
              //取課程卡片資訊
              getCourse(){
                let vm = this;
                fetch('./php/getAllHotCourse.php')
                      .then(function(response){
                         response.json()
                         .then( function(response){
                           console.log(response);
                           vm.cards = response.map(v => {
                             return {
                               ...v, 
                               collectIcon: vm.pic.collectIcon,
                            }
                           })
                           vm.CheckRenderFav()
                        })
                      })
                      .catch(function(error){
                          console.log(`Error: ${error}`);
                      })
              },

                
              //判斷愛心渲染
              CheckRenderFav() {
                  let vm = this;
                    let loginCheck = new XMLHttpRequest();
                    loginCheck.open('GET', "./php/logincheck.php", false);
                    loginCheck.onload = function () {
                        if (loginCheck.responseText != 1) {
                            return
                        }else{
                          vm.getCollect()
                        }
                    };
                    loginCheck.send(null);
              },
                
              //判斷登入
              checkLogin() {
                  let vm = this;
                  let loginCheck = new XMLHttpRequest();
                  loginCheck.open('GET', "./php/logincheck.php", false);
                  loginCheck.onload = function () {
                      if (loginCheck.responseText != 1) {
                          alert('請先登入唷~');
                          window.location.href = 'home.html'
                      }else{
                        console.log();
                      }

                  };
                  loginCheck.send(null);
              },  

              switchFavorite(e, index) {
                let vm = this;
                vm.checkLogin();
                //console.log(e.target.src);
                let src = e.target.src;
                let srcBasic = src.split("images")[0]; //把heart連在後面
                let srcCheck = src.split("images/")[1]; //檢查heart or heart_2
                console.log(src);
                console.log(srcBasic);
                console.log(srcCheck); // heart.svg
                let url = "heart.svg";
                let url2 = "heart_2.svg";

                if (srcCheck == url) {
                  e.target.src = srcBasic + "images/" + url2;
                  this.insertFav(e.target.id);
                } else if (srcCheck == url2) {
                  e.target.src = srcBasic + "images/" + url;
                  this.deleteFav(e.target.id);
                }
                e.preventDefault();
              },

              //新增收藏進資料庫
              insertFav(cno){
                let params = {
                  cno:cno
                };
                    // console.log(params)
                    axios.post('./php/insertFav.php', params )
                      .catch(error => {
                        console.log(error.response);
                      });
                },

              deleteFav(cno){
                let params = {
                  cno:cno
                };
                    // console.log(params)
                    axios.post('./php/deleteFav.php', params )
                      .catch(error => {
                        console.log(error.response);
                      });
                },
              
            //取得學生收藏
              getCollect(){
                let vm = this;
                fetch('./php/getFav.php')
                      .then(function(response){
                         return response.json()
                      })
                      .then( function(res){
                        //console.log(res);
                           res.forEach((result,index)=>{
                                //console.log(result.cno);
                                vm.fav.push(result.cno)
                              
                            })
                        vm.renderFav();
                      })
                      .catch(function(error){
                          console.log(`Error: ${error}`);
                      })
              },
              //渲染愛心
              renderFav(){
                let favArr = this.fav;
                this.cards.forEach((card, index) => { 
                   if(favArr.includes(card.cno)) {
                     this.cards[index].collectIcon = "./images/heart_2.svg"
                   }
                 })
              }

              
            },
            computed: {
              sliceCards(){
                let newCards = this.cards.slice(0,3)
                return newCards
              }
            },

            mounted() {
              this.getCourse();
            },
          template:`
            <section class="hot" id = "hot">
              <div class="container">
                <div class="title">
                  <img :src='title.icon' alt="">
                  <h2>{{title.txt}}</h2>
                </div>
                
                <div class="card-group">
                  <a href="./buylesson.html" v-for='(card,index) in sliceCards'>
                      <div class="card">
                          <div class="header">
                          <img
                            :src='cards[index].cpic'
                            alt=""
                          />
                        </div>
                        <div class="content">
                          <div class="top">
                            <h4>{{cards[index].cname}}</h4>
                            <p>{{cards[index].subtitle}}</p>
                          </div>
                          <h5>{{cards[index].tname}}</h5>
                          <div class="bottom">
                            <div class="bottom-left">
                            <div class="clock">
                              <img :src='pic.timeIcon' alt="" />
                              <span>{{cards[index].ctime}}min</span>
                            </div>
                            <div class="people">
                              <img :src='pic.peopleIcon'alt="" />
                              <span>{{cards[index].attend}}</span>
                            </div>
                          </div>
                          <div class="bottom-right">
                            <div class="collect">
                              <img :src='cards[index].collectIcon' :id='cards[index].cno' @click='switchFavorite($event, index)'/>
                            </div>
                            <div class="price">NT$ {{cards[index].cpr}}</div>
                          </div>
                          </div>
                        </div>
                      </div>
                  </a>    
                </div>
                <div class="look-more">
                  <a href="./course.html?category=hotest">看更多</a>
                  <i class="fas fa-chevron-right"></i>
                </div>
              </div>
            </section>
          `,
          
        })
        Vue.component('latest', {
            data() {
              return {
                fav:[],
                title:{
                  icon:"./images/new.svg",
                  txt:'最新課程'
                },
                pic:{
                  timeIcon:'./images/time.svg',
                  peopleIcon:"./images/people.svg",
                  collectIcon:"./images/heart.svg",
                },
                 cards: []
              };
            },
            methods: {
              //取課程卡片資訊
              getCourse(){
                let vm = this;
                fetch('./php/getAllNewCourse.php')
                      .then(function(response){
                         response.json()
                         .then( function(response){
                           console.log(response);
                           vm.cards = response.map(v => {
                             return {
                               ...v, 
                               collectIcon: vm.pic.collectIcon,
                            }
                           })
                           vm.CheckRenderFav()
                        })
                      })
                      .catch(function(error){
                          console.log(`Error: ${error}`);
                      })
              },

                
              //判斷愛心渲染
              CheckRenderFav() {
                  let vm = this;
                    let loginCheck = new XMLHttpRequest();
                    loginCheck.open('GET', "./php/logincheck.php", false);
                    loginCheck.onload = function () {
                        if (loginCheck.responseText != 1) {
                            return
                        }else{
                          vm.getCollect()
                        }
                    };
                    loginCheck.send(null);
              },
                
              //判斷登入
              checkLogin() {
                  let vm = this;
                  let loginCheck = new XMLHttpRequest();
                  loginCheck.open('GET', "./php/logincheck.php", false);
                  loginCheck.onload = function () {
                      if (loginCheck.responseText != 1) {
                          alert('請先登入唷~');
                          window.location.href = 'home.html';
                      }else{
                        console.log();
                      }

                  };
                  loginCheck.send(null);
              },  

              switchFavorite(e, index) {
                let vm = this;
                vm.checkLogin();
                //console.log(e.target.src);
                let src = e.target.src;
                let srcBasic = src.split("images")[0]; //把heart連在後面
                let srcCheck = src.split("images/")[1]; //檢查heart or heart_2
                console.log(src);
                console.log(srcBasic);
                console.log(srcCheck); // heart.svg
                let url = "heart.svg";
                let url2 = "heart_2.svg";

                if (srcCheck == url) {
                  e.target.src = srcBasic + "images/" + url2;
                  this.insertFav(e.target.id);
                } else if (srcCheck == url2) {
                  e.target.src = srcBasic + "images/" + url;
                  this.deleteFav(e.target.id);
                }
                e.preventDefault();
              },

              //新增收藏進資料庫
              insertFav(cno){
                let params = {
                  cno:cno
                };
                    // console.log(params)
                    axios.post('./php/insertFav.php', params )
                      .catch(error => {
                        console.log(error.response);
                      });
                },
              //刪除資料庫收藏清單
              deleteFav(cno){
                let params = {
                  cno:cno
                };
                    // console.log(params)
                    axios.post('./php/deleteFav.php', params )
                      .catch(error => {
                        console.log(error.response);
                      });
                },
              
            //取得學生收藏
              getCollect(){
                let vm = this;
                fetch('./php/getFav.php')
                      .then(function(response){
                         return response.json()
                      })
                      .then( function(res){
                        //console.log(res);
                           res.forEach((result,index)=>{
                                //console.log(result.cno);
                                vm.fav.push(result.cno)
                              
                            })
                        vm.renderFav();
                      })
                      .catch(function(error){
                          console.log(`Error: ${error}`);
                      })
              },
              //渲染愛心
              renderFav(){
                let favArr = this.fav;
                this.cards.forEach((card, index) => { 
                   if(favArr.includes(card.cno)) {
                     this.cards[index].collectIcon = "./images/heart_2.svg"
                   }
                 })
              },

              
            },
            computed: {
              sliceCards(){
                let newCards = this.cards.slice(0,3)
                return newCards
              }
            },  
            mounted() {
              this.getCourse();
            },
          template:`
            <section class="latest">
              <div class="container">
                <div class="title">
                  <img :src='title.icon' alt="">
                  <h2>{{title.txt}}</h2>
                </div>
                
                <div class="card-group">
                  <a href="./buylesson.html" v-for='(card,index) in sliceCards'>
                      <div class="card">
                          <div class="header">
                          <img
                            :src='cards[index].cpic'
                            alt=""
                          />
                        </div>
                        <div class="content">
                          <div class="top">
                            <h4>{{cards[index].cname}}</h4>
                            <p>{{cards[index].subtitle}}</p>
                          </div>
                          <h5>{{cards[index].tname}}</h5>
                          <div class="bottom">
                            <div class="bottom-left">
                            <div class="clock">
                              <img :src='pic.timeIcon' alt="" />
                              <span>{{cards[index].ctime}}min</span>
                            </div>
                            <div class="people">
                              <img :src='pic.peopleIcon'alt="" />
                              <span>{{cards[index].attend}}</span>
                            </div>
                          </div>
                          <div class="bottom-right">
                            <div class="collect">
                              <img :src='cards[index].collectIcon' :id='cards[index].cno' @click='switchFavorite($event, index)'/>
                            </div>
                            <div class="price">NT$ {{cards[index].cpr}}</div>
                          </div>
                          </div>
                        </div>
                      </div>
                  </a>    
                </div>
                <div class="look-more">
                  <a href="./course.html?category=latest">看更多</a>
                  <i class="fas fa-chevron-right"></i>
                </div>
              </div>
            </section>
          `,
          
        })
        
        
        
        Vue.component('anima',{
          template:`
              <section class="animate">
                <div class="animation"></div>
              </section>
          `,
        })

        Vue.component('service', {
          template:`
            <section class="service">
        <div class="container">
          <div class="pic">
          </div>
          <div class="item-group">
            <div class="item">
              <a href="./aboutus.html">
                <h3>企業服務</h3>
              <p>數位課程節省培訓時間與經費成本，協助企業轉型為員工自學式線上內訓。
              </p>
              </a>
              
            </div>
            <div class="item">
              <a href="./aboutus.html">
                <h3>線上學習</h3>
              <p>打破傳統的教學框架，因應疫情狀況，活用科技貼近生活。</p>
              </a>
              
            </div>
            <div class="item">
              <a href="./aboutus.html">
                <h3>預約輔導</h3>
              <p>獨一無二的課後預約輔導，與其他售後不理的教學網大不相同，確保所有學習者都能學有所成</p>
              </a>
              
            </div>
          </div>

          <div class="carousel">
            <div class="owl-carousel owl-theme owl-loaded">
              <div class="container">
                <div class="owl-stage-outer">
                    <div class="owl-stage">
                        <div class="owl-item owl-height">
                          <div class="item">
                            <a href="./about_us.html">
                              <h3>企業服務</h3>
                                <p>數位課程節省培訓時間與經費成本，協助企業轉型為員工自學式線上內訓。
                                </p>
                            </a>
                          </div>
                        </div>
                        <div class="owl-item owl-height">
                          <div class="item">
                            <a href="./about_us.html">
                              <h3>線上學習</h3>
                            <p>打破傳統教學框架，因應疫情狀況，活用科技貼近生活。</p>
                            </a>
                            
                          </div>
                        </div>
                        <div class="owl-item owl-height">
                          <div class="item">
                            <a href="./about_us.html">
                              <h3>預約輔導</h3>
                          <p>獨一無二的課後預約輔導，與其他售後不理的教學網大不相同，確保所有學習者都能學有所成</p>
                            </a>
                          
                          </div>
                      </div>
                    </div>
                  </div>
              </div>  
            </div>
          </div>

        </div>
      </section>
          `
        })
        
        
        new Vue({
            el: '#home',
            data: {},
            methods: {
            },
            mounted() {
                let storage = localStorage;
                if(storage['addClassList'] == null){
                 storage['addClassList'] ='';
                 };
              
              var owl = $('.owl-carousel');
                  owl.owlCarousel({
                      items:1,
                      loop:true,
                      autoplay:true,
                      autoplayTimeout:3000,
                      autoplayHoverPause:true,
                      mouseDrag:true,
                  });

                
                  
            },
        });
    </script>
     
  </body>

  
</html>
