<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="./js/vue.js"></script>

</head>

<body>
    @@include('./layout/header.html')
    <div id="course-watch">
        <section class="course">
            <div class="course-wrap">
                <div class="crumb">
                    <a href="">JavaScript超級秘笈</a>
                    <span v-if='TN? true: false'>&nbsp;>&nbsp;</span>
                    <a href="">{{ TN }}</a>
                </div>
                <div class="course-content">
                    <div v-if='authorization' class="video" src=''>
                        <iframe :src="videoURL"></iframe>
                    </div>
                    <div v-else>
                        <img :src="previewImgURL" alt="">
                    </div>
                    <div class="chapter">
                        <button class="accordion" id="touch">點我看更多</button>
                        <div class="panel">
                            <div class="chapter-title">
                                <h3>JavaScript入門</h3>
                            </div>
                            <div class="chapter-content">
                                <div v-for='(item,idx) in courses' :key='item.id'
                                    @click='navigatorTo(item.url, item.allow, item.previewImgURL, item.cname, item.attend,item.ctime,item.cpr,item.subtitle,item.totaltime)'
                                    class="chapter-content-item">
                                    <!-- <p>{{item.cname}}</p> -->
                                    <p>{{item.subtitle}}</p>
                                    <p>{{item.totaltime}}</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="course-data">
            <div class="course-data-wrap">
                <div class="course-data-content">
                    <div class="member">
                        <div class="member-pic">
                            <img src="images/people.svg" alt="">
                        </div>
                        <div class="member-txt">
                            <span>{{ attend }}</span>
                            <span>人</span>

                        </div>
                    </div>
                    <div class="time">
                        <div class="time-pic">
                            <img src="images/time.svg" alt="">
                        </div>
                        <div class="time-txt">
                            <span>{{ ctime }}</span>
                            <span>分鐘</span>
                        </div>
                    </div>
                </div>
                <div class="course-money">
                    <div class="course-data-price">
                        <div class="price-pic">
                            <img src="images//money.svg" alt="">
                        </div>
                        <div class="price-txt">
                            <span>課程售價NT$</span>
                        </div>
                        <div class="price-count">
                            <span>{{ cpr }}</span>
                        </div>
                    </div>

                </div>
                <div class="course-data-join">
                    <button class="btn">立即參加</button>
                </div>
            </div>
        </section>
    </div>



    <div class="tab">
        <button class="tablinks" onclick="openPage(event,'profile')">課程簡介</button>
        <button class="tablinks" onclick="openPage(event,'message')">留言區</button>
    </div>
    <div id="profile" class="tabcontent">
        <section class="part-profile">
            <div class="container-course">
                <div class="item">
                    <h3>您會學到</h3>
                    <p>理解 JavaScript 的運作機制與基本概念</br>
                        寫出優良穩定的 JavaScript 程式碼</br>
                        瞭解進階觀念，像是閉包、原型繼承、IIFEs</br>
                        徹底地增進 JavaScript 的除錯能力</br>
                        避免一般開發者會犯的 JavaScript 陷阱和錯誤</br>
                        瞭解 JavaScript 受歡迎框架的原始碼</br>
                        建立自己的 JavaScript 框架或資源庫</p>
                </div>
                <div class="item">
                    <h3>說明</h3>
                    <p>
                        JavaScript 是現今開發者都必須熟悉的程式語言，這可以讓你得到工作、建立好的網站及應用。</br>
                        注意：這們課包含了ECMAScript 6 (ES6)，也就是下一版本的JavaScript之資訊！</br>
                        在這門課中你能深入瞭解JavaScript，知道它的運作模式，來幫助你避免一些可能會犯的錯誤，大幅提升你除錯的能力。</br>
                        你可以懂得一些其他人（甚至是有經驗的開發者）都很困惑的東西，你將見識到這個程式語言的美麗與強大。</br>
                        這門課將提到進階概念，包含了物件與物件實體、函數表示式、原型繼承、函數程式設計、範圍鏈、</br>
                        函數建構子（還有新的ES6功能）、立即呼叫的函數表示式（IIFEs）、call、apply、bind等等。
                    </p></br>
                    <h3>此課程適合那些人</h3>
                    <p>
                        瞭解基本的 JavaScript 技巧並想要增進的人</br>
                        有程式語言經驗的開發者</br>
                        想要深入瞭解這個語言的 JavaScript 新手或老手</br>
                        認為物件原型、閉包與其他進階觀念很難懂的人</br>
                        在 JavaScript 遇到許多莫名其妙的錯誤，而想要瞭解如何避免錯誤的人</br>
                        想要建立自己的框架，或想從知名框架及資源庫的原始碼學習的人</br>
                    </p>
                </div>
            </div>
            <div class="container-teacher">
                <div class="item">
                    <div class="teacher-pic">
                        <img src="https://picsum.photos/50/50/?random=1">
                    </div>
                    <div class="teacher-txt">
                        <h3>Leo王</h3>
                        <li>向前衝網頁前端交流站發起人</li>
                        <li>中華一番電信網頁前端講師</li>
                        <li>台北帝國大學教授</li>
                        <li>二十年教學經驗資深講師</li>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="message" class="tabcontent">
        <!-- Vue instance(實例)的 data 是物件，但組件 data 的必須是 function -->
        <div id="board">
            <!-- 車子 -->
            <!-- HTML DOM template 可重複使用的功能的包裝 -->
            <todo-list @update-tasks="FaTasks = $event"></todo-list> <!-- 車子的零件 -->
            <msg-list :tasks="FaTasks" class="response" /> <!-- 車子的零件 -->
        </div>
        <div id="data_message">

        </div>
    </div>


    <script>

        //tab 切換頁面的函式

        function openPage(evt, pageName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(pageName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        function addEventToButton() {
            document.getElementById("touch").addEventListener("click", function () {
                let panel = this.nextElementSibling;
                if (panel.style.display == "none") {
                    panel.style.display = "block";
                } else {
                    panel.style.display = "none";
                }
            });
        }

    </script>
    <script type="module">

        ////////////////////////////引入影片API/////////////////////////////////////////

        import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.esm.browser.js';
        // import axios from 'https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js';//引入目的是為了打api
        // var httpRequest;

        var videoItem = new Vue({
            el: '#course-watch',
            data: {
                authorization: true,
                previewImgURL: 'https://img.onl/NMKJb3',
                videoURL: '',
                // courses: videoArray,
                courses: [],
                TN: '',
                attend: ' - ',
                ctime: ' - ',
                cpr: ' - ',
                subtitle: ' - ',
                totaltime: ' - ',
            },
            methods: {
                navigatorTo: function (URL, allow, imgURL, cname, attend, ctime, cpr, subtitle, totaltime,) {
                    this.videoURL = URL;
                    this.authorization = allow;
                    this.previewImgURL = imgURL;
                    this.TN = cname;
                    this.attend = attend;
                    this.ctime = ctime;
                    this.cpr = cpr;
                    this.subtitle = subtitle;
                    this.totaltime = totaltime;
                },
                getdata() {
                    axios
                        .get('./php/getCourse.php')
                        .then((res) => {
                            this.courses = res.data;
                            console.log(this.courses);
                            this.courses = res.data.map(v => {
                                let _obj = {
                                    cname: v.cname,
                                    ctime: v.ctime,
                                    id: v.cno,
                                    url: v.classa,
                                    allow: true,
                                    previewImgURL: '',
                                    attend: v.attend,
                                    ctime: v.ctime,
                                    cpr: v.cpr,
                                    subtitle: v.subtitle,
                                    totaltime: v.totaltime,
                                }
                                return _obj;
                            })
                        })
                        .catch((err) => {
                            console.error(err);
                        });
                },
            },
            mounted() {
                this.getdata();
            },

        })





    </script>
    <script>
        //////////////////////////////////傳送資料到後臺///////////////////////////////////////////

        Vue.component('todo-item', {  //組件(接收端) 產生使用者輸入的文字內容   (好比  車子零件的設計圖)
            props: ['xyz'],            //為了讓父親可以丟東西給自己，可以讓後面的template直接使用
            template: `<li class="item"> 
            
            <h3>{{xyz}}</h3> 
            
            </li>`,// template是掛載的html
        });
        Vue.component('todo-input', { //第二個組件 輸入的地方
            data() {
                return {       //接收到使用者輸入的值，暫時存在task裡面
                    task: '',   //預設是空白
                };
            },
            methods: {    //要運作的涵式 的設計圖

                submitData() {
                    // this.$emit('自訂事件名稱'[,....]);
                    // this.$emit('newMessage', this.task);
                    let _ = {};
                    _['input-data'] = this.task; //這邊是一個 key value的 物件格式 
                    let id = '1';
                    let cno = '1';
                    let msg = "";
                    if (this.task === "") {
                        alert('別亂!豬頭!');
                    } else {
                        msg = this.task;
                        let URL = 'http://localhost/phpLab/CMPHP/dist/addmessage2.php?id=' + id + '&cno=' + cno + '&msg=' + msg;

                        axios(URL)
                            .then((res) => {
                                var showMessage = document.createElement('div'); // is a node
                                let data_message_dev = document.getElementById("data_message");
                                let data = res["data"];
                                for (var i = 0; i < data.length; i++) {

                                    showMessage.innerHTML +=
                                        "<div class='msgContent'>"
                                        + "<span class='stdName'>" + (data[i]['stdno']) + "</span>"
                                        + "<span class='stdMessage'>" + (data[i]['mcontain']) + "</span>" + "</br>"
                                        + "<span class='stdTime'>" + (data[i]['mtime']) + "</span>"
                                        + "</div>";
                                }
                                data_message_dev.innerHTML = "";
                                data_message_dev.appendChild(showMessage);
                            })
                            .catch((err) => {
                                console.error(err);
                            });

                    }


                    this.task = '';
                },
            },
            template: `
            <form @submit.prevent="submitData" >   
                <input class='board'v-model="task">
                <button class ='sendWords'> 送出 </button>
            </form> 
        `,  // 這裡是執行設計圖的地方，會轉譯出html。 
        });
        Vue.component('todo-list', {  //第三個組件 
            data() {
                return {
                    tasks: [],  //
                };
            },
            watch: {
                tasks() {
                    this.$emit('update-tasks', this.tasks)
                }
            },
            methods: {
                addTask(item) {
                    this.tasks.unshift(item);
                },
            },
            template: `
            <div>
                <todo-input @newMessage="addTask"/>
                    <!--
                        當下層(todo-input)發出$emit('自訂事件')時，
                        上層(todo-list)用『v-on:自訂事件』或『@自訂事件』接收
                    -->
            </div>
        `,
        });
        Vue.component('msg-list', {
            props: ['tasks'],
            template: ` <ol>
                    <todo-item v-for='(task, index) in tasks' :key='index' :xyz="task"/>
                        <!--
                            xyz 是自訂屬性，下層(todo-item)用 props 接收
                        -->
                </ol>`,
        })
        let msgBoard = new Vue({
            el: '#board',
            data() {
                return {
                    FaTasks: [],

                }
            },
        });

        let msgReply = new Vue({
            el: '#data_message',
            data() {
                return {
                    msgList: [],

                }
            },
        });
    </script>
    <script>
        //導入後臺資料///////////////////////////////////////////
        var httpRequest;

        window.onload = function () {
            makeRequest('http://localhost/phpLab/CMPHP/src/messageImport_json2.php');
            addEventToButton();
        }

        function makeRequest(url) {
            //http://localhost/phpLab/CMPHP/src/messageImport_json2.php
            httpRequest = new XMLHttpRequest();

            if (!httpRequest) {
                alert('Giving up :( Cannot create an XMLHTTP instance');
                return false;
            }
            httpRequest.onreadystatechange = alertContents;
            httpRequest.open('GET', url);
            httpRequest.send();
        }

        function alertContents() {
            let data_message_dev = document.getElementById("data_message");
            if (httpRequest.readyState === XMLHttpRequest.DONE) {
                if (httpRequest.status === 200) {
                    let re = httpRequest.responseText;
                    let data = JSON.parse(re);   //JSON回傳編譯後的資料
                    msgReply.msgList = data;

                    var showMessage = document.createElement('div'); // is a node
                    for (var i = 0; i < data.length; i++) {

                        showMessage.innerHTML += "<div class='msgContent'>"
                            + "<span class='stdName'>" + (data[i]['stdno']) + "</span>"
                            + "<span class='stdMessage'>" + (data[i]['mcontain']) + "</span>" + "</br>"
                            + "<span class='stdTime'>" + (data[i]['mtime']) + "</span>"
                            + "</div>";
                        data_message_dev.appendChild(showMessage);
                        // msgReply.msgList.push({

                        // });

                    }

                } else {
                    alert('There was a problem with the request.');
                }
            }
        }

    </script>
    @@include('./layout/footer.html')
</body>

</html>