<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/vue.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>購物車</title>
</head>

<body>
    @@include('./layout/header.html')

    <div class="pay-container">
        <buy-car-left :count='count' :information="information"></buy-car-left>
        <buy-car-right :information="information" :moneycalc="moneycalc"></buy-car-right>
    </div>

    <script>
        var paycar = new Vue({
            el: '.pay-container',

            data: {
                information: [],
                moneycalc: {
                    initprice: 0,
                    discount: 1,
                    finalprice: 0,
                },
                userdiscount: [],
                count: 0
            },
            computed: {
                popo() {
                    return 100;
                },
                test() {
                    // for(var i=0;i< paycar.information.length;i++){
                    //     paycar.moneycalc.initprice += parseInt(paycar.information[i].price);
                    // }
                    // console.log(information);
                    return 100;
                }
            },
            methods: {

            },
            mounted() {

                var logincheck = new XMLHttpRequest();
                logincheck.open('GET', "./php/logincheck.php", false);
                logincheck.onload = function () {
                    if (logincheck.responseText != 1) {
                        alert('您尚未登入');
                        window.location.href = 'login.html';
                    }
                };
                logincheck.send(null);



                // fetch(discount_url, { method: 'GET' })
                // .then(res => {
                //     return res.json();
                // })
                // .then(res => {

                // })
                // .catch(error => {
                //     console.log(error);
                // });




                this.userdiscount = [];
                var discount_url = "./php/fetchdiscount.php";
                var dis = [];
                var userdis = new XMLHttpRequest();
                userdis.open('GET', discount_url, false);
                userdis.onload = function () {
                    dis = JSON.parse(userdis.responseText);
                };
                userdis.send(null);
                for (var i = 0; i < dis.length; i++) {
                    this.userdiscount.push(dis[i].dcinifo);
                }


                var url = "./php/fetchclass.php"
                let arr, json;
                // 預設空
                this.information = [];
                let local = localStorage;
                // 判斷購物車
                if (local['course'] === undefined || local['course'] === "") {
                    local['course'] = "";
                } else {
                    arr = local['course'].split(',');
                }
                // ajax
                var xhr = new XMLHttpRequest();
                xhr.open('POST', url, false);
                xhr.onload = function () {
                    json = JSON.parse(xhr.responseText);
                };
                xhr.setRequestHeader("Content-type", "application/json");
                xhr.send(null);

                // 取值 + 運算
                for (var i = 0; i < json.length; i++) {
                    for (var j = 0; j < arr.length; j++) {
                        if (arr[j] == json[i].cno) {
                            // console.log(json[i].cno);
                            this.information.push({
                                coursename: json[i].cname,
                                courseimg: json[i].cpic,
                                price: json[i].cpr
                            });
                            this.count += 1;
                            // this.moneycalc.initprice += parseInt(this.information[i].price);
                        }
                    }
                }
                console.log(this.userdiscount);
            },
        });
        Vue.component('buy-car-left', {
            props: ["count", "information"],
            methods: {
                remove(index) {
                    var arr = localStorage['course'].split(',');
                    arr.splice(index, 1);
                    localStorage['course'] = arr;
                    paycar.information.splice(index, 1);
                    paycar.count -= 1;
                }
            },
            template: `
                <div class="left">
                    <h1>購物車</h1>
                    <div class="course-group">
                        <h2>購物車有 <span>{{count}}</span> 門課程</h2>
                        <div v-if="count >= 1" class="course-item" v-for=" (a,index) in information">
                            <div class="course-img">
                                <img :src="information[index].courseimg" alt="">
                            </div>
                            <div class="course-info">
                                <h3>{{information[index].coursename}}</h3>
                                <p class="price">NT$<span>{{information[index].price}}</span></p>
                            </div>
                            <div class="des" @click="remove(index)">
                                <img src="images/x.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="tip-car" v-if="count <= 0 ">購物車內沒有課程</div>
                    <hr>
                </div>
            `
        });
        Vue.component('buy-car-right', {
            props: ["information", "moneycalc"],
            computed: {
                initprice() {
                    paycar.moneycalc.initprice = 0;
                    for (var i = 0; i < paycar.information.length; i++) {
                        paycar.moneycalc.initprice += parseInt(paycar.information[i].price);
                    }
                    return paycar.moneycalc.initprice;
                },
                discount() {
                    return paycar.moneycalc.initprice * paycar.moneycalc.discount;
                },
                coursegroup() {
                    var num = "";
                    for (var i = 0; i < paycar.count; i++) {
                        num += "購買課程" + (i + 1) + "：" + paycar.information[i].coursename + "#";
                    }
                    num += "#" + "使用優惠：";
                    return num;
                }
            },
            template: `
                <div class="right">
                    <form class="right-content" action="./php/order_add.php" method="POST">
                        <input type="hidden" name="class" v-model="coursegroup">
                        <input type="hidden"  name="dismoney" :value="-( initprice - discount)">
                        <div class="pay-money">
                            <div>
                                <p>小計</p>
                                <input class="input-change" v-model="initprice" maxlength="5" readonly type="hidden">
                                <p>NT$ <span>{{initprice}} </span></p>
                            </div>
                            <div>
                                <p>優惠</p>
                                <select name="discount" id="dis" v-model="paycar.moneycalc.discount" >
                                    <option value="1">請選擇</option>
                                    <option v-for="i in paycar.userdiscount" :value="i">{{i*10}}折</option>
                                </select>
                            </div>  
                        </div>
                        <div class="sun-total">
                            <hr>
                            <div>
                                <p>總計</p>
                                <p>
                                    <input class="input-change" name="disprice" maxlength="5" v-model="discount" readonly type="hidden">
                                    NT$ <span>{{discount}}</span>                                
                                </p>
                            </div>
                            <button type="sumbit">結帳</button>
                        </div>
                    </form>
                </div>
            `
        });
    </script>

    @@include('./layout/footer.html')
</body>

</html>